<li class="tournament-bracket__item">
  <div class="tournament-bracket__match" tabindex="0">
    <table class="tournament-bracket__table">
      <caption class="tournament-bracket__caption">
        <time datetime="1998-02-18">18 February 1998</time>
      </caption>
      <thead class="sr-only">
        <tr>
          <th>Country</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody class="tournament-bracket__content">
        <tr class="tournament-bracket__team tournament-bracket__team--winner">
          <td class="tournament-bracket__country">
            <abbr class="tournament-bracket__code" title="Canada">CAN</abbr>
            <span
              class="tournament-bracket__flag flag-icon flag-icon-ca"
              aria-label="Flag"
            ></span>
          </td>
          <td class="tournament-bracket__score">
            <span class="tournament-bracket__number">4</span>
          </td>
        </tr>
        <tr class="tournament-bracket__team">
          <td class="tournament-bracket__country">
            <abbr class="tournament-bracket__code" title="Kazakhstan">KAZ</abbr>
            <span
              class="tournament-bracket__flag flag-icon flag-icon-kz"
              aria-label="Flag"
            ></span>
          </td>
          <td class="tournament-bracket__score">
            <span class="tournament-bracket__number">1</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</li>
